.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

table th, td {
	text-align: center

}

thead {
	background-color: rgb(233, 241, 253)
}

.clickable-row {
	cursor: pointer;
}

.connectInputGroup {
	margin-top: 15px;
}

.connectFormError {
	color: red;
}