.nav, .pagination, .carousel, .panel-title a, .clickable-row, .nameicon,
    .priceicon {
    cursor: pointer;
}

table th, td {
    text-align: left
}

thead {
    background-color: rgb(233, 241, 253)
}

.connectInputGroup {
    margin-top: 15px;
}

.connectFormError {
    color: red;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
    {
    -webkit-appearance: none;
    margin: 0;
<<<<<<< HEAD
}

body {
    
    padding-right: 5%;
    padding-left: 5%;
=======
>>>>>>> devromain
}

input[type="number"] {
    -moz-appearance: textfield;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
<<<<<<< HEAD
}
=======
}
>>>>>>> devromain
