<div class="row">
	<div class="col-md-6">
		<h2>Basket</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<th width="50">&nbsp</th>
					<th>Name</th>
					<th colspan=2 >Quantity</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="clickable-row" ng-repeat="item in basket">
					<td width="50" ng-click="showItem(item.entity)"><img height="42" width="42" src="{{item.entity.image}}"></td>
					<td ng-click="showItem(item.entity)"><strong>{{item.entity.name}}</strong></td>
					<td><input type="number" ng-model="item.quantity"></input></td>
					<td><button class="btn btn-primary" ng-click="updateItem(item)">Update</button></td>
					<td ng-click="showItem(item.entity)">{{item.quantity*item.entity.price | currency}}</td>
					<td><button class="btn btn-primary" ng-click="deleteItemFromBasket(item)">Delete from basket</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
</div>