<div class="row">
	<div class="col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<th width="50">&nbsp</th>
					<th>Name</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			<tr class="clickable-row" ng-repeat="item in basketControl.basket"
				ng-click="basketControl.showItem(item)">
				<td width="50"><img height="42" width="42" src="{{item.image}}"></td>
				<td><strong>{{item.name}}</strong></td>
				<td>{{item.quantity}}</td>
				<td>{{item.quantity*item.price | currency}}</td>
			</tr>
		</table>
	</div>
</div>