<div>
	<form id="connectForm" name="connectForm" ng-submit="connect()" novalidate>
		<table>
			<tr>
				<td><label for="connect_username">Username: </label></td>
				<td><input id="connect_username" name="username" type="text" ng-model="logins.usr" required></td>
			</tr>
			<tr>
				<td><label for="connect_pwd">Password: </label></td>
				<td><input id="connect_pwd" name="password" type="password" ng-model="logins.pwd" required></td>
			</tr>
		</table>
		<input type="submit" ng-disabled="connectForm.$invalid" value="Connect">
	</form>
</div>