<div class="row">
	<div class="col-md-6">
		<h2>Liste articles</h2>
	</div>
</div>





<div class="row">
	<div class="col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<th width="50">&nbsp</th>
					<th>Name</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			<form id="itemsForm" novalidate>
				<tr class="clickable-row" ng-repeat="item in listItemCtrl.items" ng-click="listItemCtrl.showItem(item.entity)">
					<td width="50"><img height="42" width="42" src="{{item.entity.image}}"></td>
					<td><strong>{{item.entity.name}}</strong></td>
					<td>{{item.entity.price | currency}}</td>
					
					<td>
						<div class="input-group">
							<span class="input-group-btn">
								<button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quantity">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							</span>
						
							<input type="number" name="quantity" class="form-control input-number" value="1" min="0" max="100" ng-model="item.quantity" ng-click="$event.stopPropagation();"/>
							
							<span class="input-group-btn">
								<button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quantity" disabled="disabled">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</span>
						</div>
					</td>
	
					<td><button class="btn btn-primary" ng-click="listItemCtrl.add(item); $event.stopPropagation();">Add to basket</button></td>
	
				</tr>
			</form>
		</table>
	</div>
</div>
