<div style="width:500px">
	<table class="table table-bordered">
		<tr>
			<td><label class="col-sm-2 control-label">Id</label></td>
			<td>{{user.entity.id}}</td>
		</tr>
		<tr>
			<td><label class="col-sm-2 control-label">titre</label></td>
			<td>{{user.entity.titre}}</td>
		</tr>
		<tr>
			<td><label class="col-sm-2 control-label">firstName</label></td>
			<td>{{user.entity.firstName}}</td>
		</tr>
		<tr>
			<td><label class="col-sm-2 control-label">lastName</label></td>
			<td>{{user.entity.lastName}}</td>
		</tr>
		<tr>
			<td><label class="col-sm-2 control-label">login</label></td>
			<td>{{user.entity.login}}</td>
		</tr>
		<tr>
			<td><label class="col-sm-2 control-label">password</label></td>
			<td>{{user.entity.password}}</td>
		</tr>
		<tr>
			<td><label class="col-sm-2 control-label">email</label></td>
			<td>{{user.entity.email}}</td>
		</tr>
		<tr>
			<td><label class="col-sm-2 control-label">telephone</label></td>
			<td>{{user.entity.telephone}}</td>
		</tr>
		<tr>
			<td><label class="col-sm-2 control-label">fax</label></td>
			<td>{{user.entity.fax}}</td>
		</tr>
	</table>
</div>