<div class="row">
	<div class="col-md-6">
		<h2>Please validate your basket</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<table class="table table-hover">
			<tr>
				<th width="50">&nbsp</th>
				<th>Name</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
			<tr ng-repeat="item in validatePaymentControl.basket">
				<td width="50"><img height="42" width="42" src="{{item.image}}"></td>
				<td><strong>{{item.name}}</strong></td>
				<td>{{item.quantity}}</td>
				<td>{{item.quantity*item.unitPrice | currency}}</td>
			</tr>
			<tr>
				<td colspan="3"></td>
				<td><strong>{{validatePaymentControl.totalPrice | currency}}</strong></td>
			</tr>
			<tr>
				<td colspan="3"></td>
				<td>
					<button type="submit" class="btn btn-success">Validate !</button>
				</td>
			</tr>
		</table>
	</div>
</div>